[submodule "zgui"]
	path = zgui
	url = git@github.com:jrachele/zgui.git
[submodule "zglfw"]
	path = zglfw
	url = https://github.com/jrachele/zglfw.git
[submodule "zopengl"]
	path = zopengl
	url = git@github.com:jrachele/zopengl.git
